<!DOCTYPE html>
<html>
<head>
  <title>FeatureToggle</title>
  <%= stylesheet_link_tag    "feature_toggle/application", media: "all" %>
  <%= javascript_include_tag "feature_toggle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
